/*Backgrounds */
#entrada {
  display: block;
  min-height: 680px;
    background-repeat: no-repeat !important;
  background: url(../img/bg-entrada.png); 
}

#introducao {
  display: block;
  min-height: 680px !important;
  background-repeat: no-repeat !important;
  background: url(../img/bg-intro.jpg); 
}


/*Fim Backgrounds */

/*Padrões */

h2 {
     font-size: 2.8rem;
    color: #0f233b;
    line-height: 1.3em;
    font-style: italic;

}

.dslc-1 {
  padding-top: 40px;
}

.dslc-2 {
  padding-top: 80px;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Fim Padrões */

.hexagono {
position: relative;
float: right;
   -webkit-animation: blink 3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
  }

.logoefex {
float: right;
position: relative;
top: -20px;

}

.home-titulo {
    color: #13243c;
    top: 90px;
    position: relative;
    font-size: 2.1em;
    font-weight: 700;
}

.home-linha {
  border-bottom: 2px solid #13243c;
}

.home-passaro {
  position: relative;
  top: 30px;
}

li {
    display: list-item;
 }

.centralizar {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0 auto !important;
}


.text-center {
    text-align: center!important;
}

a:hover {cursor: pointer !important;}

.sticky {
    position: fixed;
   background-color: #cae8ca;
}
input {
    border-radius: 0 !important;
}
a:hover {
color:#007bff !important;
}

h3 {

    font-family: serif;
    font-size: 2em;
    font-style: italic;
}

footer {
    background: white;
    padding: 10px 0 0 20px;
    margin-bottom: -40px;
}



/*Mobile Media Querie*/
@media screen and (max-width: 640px) {
.m-centralizar {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0 auto !important;
  text-align: center;
}

#entrada, #introducao {
  padding-bottom: 70px;
}

  .logoefex {
    float: none;
  position: relative;
    top: 10px;
  }
.home-titulo {
    top: 40px;
    position: relative;
  }
  .home-linha {
  border-bottom: none;
}

.hexagono {
position: relative;
float: none;
}

.m-dslc-1 {
  padding: 10px 0;
}

.m-dslc-2 {
  padding: 20px 0;
}


}